body{
    padding: 0px;
    margin: 0px ;
}
nav .firstone{
    background-color: white;
    box-shadow: 2px 3px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
input{
    padding: 5px;
    width:300px;
}
h1{
    margin-left: 20px;
    font-size: large;
    font-style: oblique;
}
.tag a{
    text-decoration: none;
    color: black;
    margin: 10px;
}

.tag{
    margin-right: 1000px;
}
.logo{
    margin-right: 50px;
}
.logo a{
    color: black;
}
img{
    height: 200px;
    width: 200px;
    margin-top: 20px;
}
.one{
    text-align: center;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.3);
}
.card{
    display: flex;
    justify-content: center;
}
button{
    background-color: green;
    border: none;
    color: white;
}
h2{
    text-align: center;
}
.card-container{
    display: flex;
}
.one{
    text-align: center;
    box-shadow: 2px 3px 3px rgba(0,0,0,0.3);
    height: 400px;
    width: 300px;
    margin: 30px;
}
.one:hover{
    background-color:rgb(214, 211, 211);
}
button:hover{
    background-color: blue;
}
.extra{
    display: flex;
    margin: 20px;
    justify-content: space-between;
    
}
.second-card{
    display: flex;
    justify-content: center;

}
.last{
    display: flex;
    margin: 20px;
    justify-content: space-between;
}
footer{
    background-color: black;
    color: white;
}
.last{
    display: flex;
    justify-content: space-between;
    margin: 10px;
 }
 .lastone p{
    text-align: center;
}
.second-card{
    justify-content: center;
}